.input-group {
  display: flex;
  align-items: center;
}

.input-group label {
  margin-right: 10px;
}

.input-group input,.input-group select,.input-group button,
.input-group {
  flex: 2;
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-group button {
  flex: 0;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: center;
}
